*{
    margin: 0;
}

.contenedor{
    background-color: rgb(197, 169, 222);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 10%;
   
}

button{
    
    font-size: 200%;
    padding: 0.70em;    

}
#yesBtn{
    transform: translate(-100%,0);
    background-position: bottom right;
}

#noBtn{
    position: absolute;
    background-position: bottom right;
}

img{
    background-position: 50% -10%;
    border-radius: 50%;
    
}